@import "compass";

#carousel-panel {
	margin: 50px auto 20px;
	padding: 5px 0;
	border: 1px solid #87bcea;
	width: 798px;
	height: 210px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000 inset;
	// overflow: hidden;
	position: relative;
}
#carousel-wrapper {
	overflow: hidden;
}
#carousel-inner {
	width: 3200px;
	height: 100%;
	// background-color: #CCC;
	margin-left: -800px;
}
.carousel-column {
	float: left;
	list-style-type: none;
	width: 790px;
	height: 100%;
	padding: 0;
	margin: 0 5px;
	li {
		float: left;
		width: 100%;
		// margin: 0 0 0 5px;
		padding: 0;
		// &:first-child {
		// 	margin: 0;
		// }
		img,a {
			float: none;
			display: inline-block;
			width: 100%;
			height: 100%;
			border: none;
			cursor: default;
		}
	}
}
#carousel-prev span,
#carousel-next span {
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	line-height: 44px;
	text-align: center;
	color: #FFF;
	text-shadow: -1px -1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	background: #d0e4f7;
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #d0e4f7; // Old browsers
	@include filter-gradient(#d0e4f7, #87bcea, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%));
}
#carousel-prev {
	position: absolute;
	top: 89px;
	left: -22px;
}
#carousel-next {
	position: absolute;
	top: 89px;
	right: -22px;
}

#carousel-indicator ul {
	width: 150px;
	margin: 0 auto;
	padding: 0;
	li {
		float: left;
		width: 22px;
		height: 22px;
		margin: 0 5px;
		border-radius: 11px;
		background-color: #CCC;
		list-style-type: none;
		cursor: pointer;
		&.active {
			background-color: #539fe1;
		}
	}
}

#carousel-progress{
	position: absolute;
	bottom: 5px;
	margin: 0 5px;
	width: 790px;
	height: 5px;
	span {
		display: block;
		width: 0;
		height: 100%;
		opacity: .5;
		background-color: #fff;
	}
}